
.mainManifesto{
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $screenWidth--sm) {
        display: block;
    }

    &__imgMask{
        order: 1;
        margin-bottom: 24px;

        @media (min-width: $screenWidth--xs) {
            //margin-right: 24px;
        }

        @media (min-width: $screenWidth--sm) {
            float: right;
            width: 50%;
            margin-bottom: 0;
            margin-right: 24px;

            &:after{
                content: "";
                display: table;
                clear: both;
            }

            .collapsingBlock--isOpen &{
                width: calc(50% + 24px);
                padding-left: 24px;
                padding-bottom: 24px;
            }
        }
        @media (min-width: $screenWidth--xl) {
            margin-right: 32px;

            .collapsingBlock--isOpen &{
                width: calc(50% + 32px);
                padding-left: 32px;
                padding-bottom: 32px;
            }
        }
    }
    &__img{
        //width: 200px;
        //height: 200px;
        //background-color: tomato;

        object-fit: cover;
        width: 100%;
        height: 100%;

        @media (min-width: $screenWidth--sm) {
            border-radius: 6px;
        }
    }

    &__text{
        color: $color--font--dark;
        font-family: $fontFamily;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
        letter-spacing: 0.2px;

        overflow: hidden;
        max-height: 90px;
        padding: 0 16px;

        @media (min-width: $screenWidth--xs) {
            padding: 0 24px;
        }

        @media (min-width: $screenWidth--sm) {
            max-height: 160px;
            line-height: 20px;
        }

        @media (min-width: $screenWidth--xl) {
            padding: 0 32px;
        }

        @media (min-width: $screenWidth--oversize) {
            max-height: 275px;
        }

        .collapsingBlock--isOpen &{
            max-height: fit-content;
            overflow: visible;
        }
    }
    &__p{
        &+&{
            margin-top: 1.2em;
        }
    }

    &__openBtn{
        margin-top: 0;

        @media (min-width: $screenWidth--sm) {
            margin-top: 16px;
            margin-bottom: 24px;
        }

        &:after{
            content: 'Читать далее';

            .collapsingBlock--isOpen &{
                content: 'Свернуть';
            }
        }
    }
}
