
.mainHeader{
    color: $color--font--dark;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.6px;

    position: relative;
    display: block;
    height: 40px;
    padding: 0 16px;

    @media (min-width: $screenWidth--xs) {
        padding: 0 24px;
    }
    @media (min-width: $screenWidth--sm) {}
    @media (min-width: $screenWidth--xl) {
        padding: 0 32px;
        //position: absolute;
        //top: 42px
    }
    @media (min-width: $screenWidth--oversize) {
        //position: relative;
        //top: 0
        //padding: 0 32px;
    }

    &:before{
        content: '';
        position: absolute;
        left: 0;
        height: 40px;
        width: 4px;
        border-radius: 0 4px 4px 0;
        background-color: $color--svg--main;
    }
}
