
.tableBlock{
    &__header{}

    &__viewer{
        padding: 0 16px;
        position: relative;
        overflow: hidden;

        @media (min-width: $screenWidth--xs) {
            padding: 0 24px;
        }
        @media (min-width: $screenWidth--xl) {
            padding: 0 32px;
        }

        &:before, &:after{
            content: "";
            display: block;
            width: 24px;
            height: 200px;
            position: absolute;
            top: 0;
            z-index: 2;

            @media (min-width: $screenWidth--md) {
                display: none;
            }
        }
        &:before{
            background: linear-gradient(90deg, $color--background--dark 16.84%, transparent 100%);
            left: 0;
        }
        &:after{
            background: linear-gradient(270deg, $color--background--dark 16.84%, transparent 100%);
            right: 0;
        }
    }

    &__list{
        @media (min-width: $screenWidth--md) {
            transform: none !important;
            display: table;
        }

        &>.tableBlock__item:nth-child(2)>.tableBlock__data:first-child{
            border-radius: 6px 0 0 0;
        }
        &>.tableBlock__item:nth-child(2)>.tableBlock__data:last-child{
            border-radius: 0 6px 0 0;
        }
        &>.tableBlock__item:last-child>.tableBlock__data:first-child{
            border-radius: 0 0 0 6px;
        }
        &>.tableBlock__item:last-child>.tableBlock__data:last-child{
            border-radius: 0 0 6px 0;
        }
    }

    &__item{
        color: $color--font--dark;
        font-size: 14px;
        line-height: 18px; /* 128.571% */
        letter-spacing: 0.2px;

        box-sizing: border-box;
        width: 260px;
        height: 200px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        background-color: $color--background--light;
        border-radius: 6px;

        @media (min-width: $screenWidth--md) {
            display: table-row;
            width: auto;
            height: 64px;

            &:nth-child(n+3):after{
                content: '';
                position: absolute;
                left: 16px;
                width: calc(100% - 16px*2);
                height: 1px;
                background-color: $color--border--lightAlt;

                @media (min-width: $screenWidth--xl) {
                    left: 24px;
                    width: calc(100% - 24px*2);
                }
            }
        }

        &--capital{
            display: none;

            color: $color--font--light;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px; /* 114.286% */

            @media (min-width: $screenWidth--md) {
                display: table-row;
                background-color: transparent;
                //height: calc(16px + 1.2em);
                height: calc(16px + 16px);
                vertical-align: top;
            }
        }
    }

    &__data{
        display: flex;
        flex-direction: column;
        gap: 4px;

        @media (min-width: $screenWidth--md) {
            display: table-cell;
            vertical-align: middle;
        }

        &:before{
            color: $color--font--light;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px; /* 114.286% */

            @media (min-width: $screenWidth--md) {
                display: none;
            }
        }

        &--capital{
            vertical-align: top;
        }

        &--service{
            @media (min-width: $screenWidth--md) {
                width: 55%;
                padding-left: 16px;
            }

            @media (min-width: $screenWidth--xl) {
                padding-left: 24px;
            }

            &:before{
                content: 'Ремонтные услуги';
            }
        }

        &--price{
            @media (min-width: $screenWidth--md) {}

            &:before{
                content: 'Цена';
            }
        }

        &--time{
            @media (min-width: $screenWidth--md) {
            }

            &:before{
                content: 'Срок';
            }
        }

        &--order{
            position: absolute;
            right: 16px;
            bottom: 16px;

            @media (min-width: $screenWidth--md) {
                position: static;
                width: 0;
                padding-right: 16px;
            }

            @media (min-width: $screenWidth--xl) {
                padding-right: 24px;
            }
        }
    }

    &__orderBtn{
        width: fit-content;
    }

    &__pagination{
        position: static;
        margin-top: 16px;
        --swiper-pagination-bullet-inactive-color: #DDDDDD;
        --swiper-pagination-bullet-inactive-opacity: 1;
        --swiper-theme-color: #B5B6BC;
        --swiper-pagination-bullet-size: 12px;
        --swiper-pagination-bullet-width: 12px;
        --swiper-pagination-bullet-height: 12px;
        --swiper-pagination-bullet-horizontal-gap: 6px;
    }

    &__warningText,&__offerBtn{
        margin: 0 16px;

        @media (min-width: $screenWidth--xs) {
            margin: 0 24px;
        }
        @media (min-width: $screenWidth--xl) {
            margin: 0 32px;
        }
    }

    &__warningText{
        color: $color--font--dark;
        font-size: 14px;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.2px;

        margin-top: 16px;

        @media (min-width: $screenWidth--xs) {
            margin-top: 24px;
        }
        @media (min-width: $screenWidth--xl) {
            margin-top: 32px;
        }
    }

    &__offerBtn{
        color: $color--font--dark;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;

        display: flex;
        align-items: center;
        border-radius: 4px;
        padding-left: 8px;
        transition: background-color .3s ease-in-out;

        margin: 16px 16px 0 8px;

        @media (min-width: $screenWidth--xs) {
            margin: 16px 16px 0 16px;
            //margin: 0 24px;
        }
        @media (min-width: $screenWidth--xl) {
            margin: 16px 16px 0 24px;
            //margin: 0 32px;
        }

        &:after{
            content: url("/src/assets/svg/simpleArrowMode.svg");
            width: 24px;
            height: 24px;
        }

        &:focus{
            box-shadow: 0 0 0 2px $color--svg--warning;
        }
        &:hover{
            background-color: $color--border--lightAlt;
        }
    }
}
