
.collapseBtn{
    color: $color--font--dark;
    font-family: $fontFamily;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;

    margin-top: 24px;
    display: flex;
    gap: 9px;
    padding-right: 16px;
    border-radius: 4px;
    transition: background-color .3s ease-in-out;
    margin-left: 16px;

    @media (min-width: $screenWidth--xs) {
        margin-left: 24px;
    }
    @media (min-width: $screenWidth--xl) {
        margin-left: 32px;
    }

    &:before{
        content: url("/src/assets/svg/dobleArrow.svg");
        width: 24px;
        height: 24px;
    }

    &:focus{
        box-shadow: 0 0 0 2px $color--border--light;
    }
    &:hover{
        background-color: $color--border--lightAlt;
    }

    .collapsingBlock--isOpen &:before{
        transform: rotate(180deg);
    }
}
