
.generalText{
    color: $color--font--dark;
    font-family: $fontFamily;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    transition: color .3s ease-in-out;

    &--medium{
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;
    }

    &--bold{
        font-size: 28px;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.6px;
    }

    &--light,&--hoverLight:hover{
        color: $color--font--light;
    }

    &--warning,&--hoverWarning:hover{
        color: $color--font--warning;
    }
}
