
.topHeader{
    height: 88px;
    background-color: $color--background--light;
    display: flex;
    justify-content: space-between;
    padding: 16px;

    @media (min-width: $screenWidth--xs) {
        padding: 24px;
    }

    &__block{
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__item{}

    &__logoLink{
        display: block;
        background-image: url("/src/assets/svg/logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 51px;
        width: 97px;
        border-radius: 6px;
        transition: opacity .3s ease-in-out;

        &:focus{
            outline: 4px solid $color--border--light;
        }

        &:hover{
            opacity: .8;
        }
    }
}
