
.displayNone{
    display: none;
}
.displayFlex{
    display: flex;
}
.displayBlock{
    display: block;
}

.xsDisabled{
    @media (max-width: $screenWidth--smMax) {
        display: none;
    }
}
.smDisabled{
    @media (min-width: $screenWidth--sm) and (max-width: $screenWidth--xlMax) {
        display: none;
    }
}
.xlDisabled{
    @media (min-width: $screenWidth--xl) {
        display: none;
    }
}

// notStylized
.closeSidebars{}
.openBurger{}
.openCall{}
.openChat{}
.sidebarBurger{}
.sidebarCall{}
.sidebarChat{}

