
.overlay{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    opacity: 0.9605;

    visibility: hidden;
    background-color: transparent;
    transition-property: background-color, visibility;
    transition-duration: .3s;
    transition-timing-function: ease-in-out, step-end;

    &--isOpen--forLeftSidebar{
        visibility: visible;
        background-color: $color--background--light;
        transition-timing-function: ease-in-out, step-start;

        @media (min-width: $screenWidth--xl) {
            visibility: hidden;
        }
    }

    &--isOpen--forRightSidebar{
        visibility: visible;
        background-color: $color--background--light;
        transition-timing-function: ease-in-out, step-start;
    }
}
