
.sbFooter{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 32px;

    &, &>*{
        padding-left: 8px;
        padding-right: 8px;

        @media (min-width: $screenWidth--xs) {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    &__controlsBlock{
        display: flex;
        gap: 16px;

        @media (min-width: $screenWidth--oversize) {
            display: none;
        }
    }

    &__mail{
        color: $color--font--dark;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;

        margin-top: 16px;
        border-radius: 6px;
        transition: color .3s ease-in-out;

        &:focus{
            box-shadow: 0 0 0 2px $color--border--light;
        }
        &:hover{
            color: $color--font--warning;
        }
    }

    &__phone{
        color: $color--font--dark;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.6px;

        margin-top: 12px;
        border-radius: 6px;
        transition: color .3s ease-in-out;

        &:focus{
            box-shadow: 0 0 0 2px $color--border--light;
        }
        &:hover{
            color: $color--font--warning;
        }
    }

    &__languagesBlock{
        margin-top: 8px;
        display: flex;
        gap: 8px;
    }

    &__languagesButton{
        color: $color--font--dark;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;
        border-radius: 6px;
        transition: color .3s ease-in-out;

        &:focus{
            box-shadow: 0 0 0 2px $color--border--light;
        }
        &:hover{
            color: $color--font--warning;
        }

        &--isActive{
            color: $color--font--light;
        }
    }

}
