
.sbForm{
    flex-grow: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $screenWidth--xs) {
        padding: 12px 24px;
    }
    @media (min-width: $screenWidth--xl) {
        padding: 32px;
    }
    @media (min-width: $screenWidth--oversize) {
        padding: 24px 32px;
        //gap: 24px;
    }

    &__header{
        color: $color--font--dark;
        font-family: $fontFamily;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: -0.6px;

        height: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        @media (min-width: $screenWidth--oversize) {
            margin-bottom: 32px;
        }

        &:before{
            content: '';
            position: absolute;
            left: 0;
            height: 40px;
            width: 4px;
            border-radius: 0 4px 4px 0;
            background-color: $color--svg--main;
        }
    }

    &__label{}

    &__labelForTextarea{
        //flex-grow: 1;
    }

    &__input,&__textArea{
        color: $color--font--dark;
        font-family: $fontFamily;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;

        width: 100%;
        border-radius: 8px;
        box-shadow: inset 0 0 0 1px $color--border--lightAlt;
        padding: 12px 16px;

        &:focus{
            box-shadow: inset 0 0 0 2px $color--border--light;
        }

        &::placeholder{
            color: $color--font--lightPlus;
        }
    }

    &__input{}

    &__textArea{
        height: 118px;
        //height: 100%;

        @media (min-width: $screenWidth--oversize) {
            height: 236px;
        }
    }

    &__warningText{
        color: $color--font--light;
        font-family: $fontFamily;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 114.286% */
    }

    &__textLink{
        color: $color--font--warning;
        transition: color .3s ease-in-out;

        &:focus{
            text-decoration: underline;
        }
        &:hover{
            //color: $color--font--light;
            color: $color--font--warningMode;
        }
        &:visited{
            //color: $color--font--warningMode;
        }
    }

    &__submitBtn{
        align-self: flex-end;
    }

    //.goBtn{}
}
