
.sidebar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color--background--light;
    visibility: hidden;
    transition-property: transform, visibility;
    transition-duration: .3s;
    transition-timing-function: ease-in-out, step-end;
    display: flex;
    flex-direction: column;

    .topHeader{
        background-color: transparent;
    }

    &--left{
        z-index: 3;
        transform: translateX(-100%);
        box-shadow: 0 0 52px 16px $color--shadow;

        // screen fix (когда меняем плавно ширину экрана, чтобы левый сайдбар не мелькал,
        // когда его позиция возвращается на родину за пределы экрана, или вылазит, если он уже открыт)
        left: -$leftSideBarWidth;
        &.sidebar--isOpen{
            left: 0;
        }

        @media (min-width: $screenWidth--sm) {
            width: $leftSideBarWidth;
        }

        @media (min-width: $screenWidth--xl) and (max-width: $screenWidth--oversizeMax) {
            z-index: 1;
            visibility: visible;
            box-shadow: 0 0 0 0 transparent;
            transition-duration: 0s;

            transform: translateX(0);
            position: static;
            flex-shrink: 0;

            .closeLeftSidebar{
                display: none;
            }
        }

        @media (min-width: $screenWidth--oversize) {
            box-shadow: 0 0 52px 16px $color--shadow, inset -2px 0 0 -1px $color--border--lightPlus;
        }
    }

    &--right{
        z-index: 3;
        //right: 0;
        transform: translateX(100%);
        box-shadow: 0 0 52px 16px $color--shadow, inset 2px 0 0 -1px $color--border--lightPlus;

        // screen fix
        right: -1000px;
        &.sidebar--isOpen{
            right: 0;
        }

        @media (min-width: $screenWidth--sm) {
            width: 440px;
        }

        @media (min-width: $screenWidth--xl) {
            .sidebar__header{
                position: absolute;
                transform: translateX(-100%);
                background-color: transparent;
                left: -8px;
                //top: 8px
            }
        }

        @media (min-width: $screenWidth--oversize) {
            transition-duration: .3s;
            transform: translateX(0);
            width: 800px;
            right: calc((100vw - 800px)/2);
            top: 100vh;
            box-shadow: 0 0 52px 16px $color--shadow, inset 2px 0 0 -1px $color--border--lightPlus, inset -2px 0 0 -1px $color--border--lightPlus;

            &.sidebar--isOpen{
                right: calc((100vw - 800px)/2);
                transform: translateY(-100vh);
            }

            .sidebar__header{
                position: absolute;
                transform: translateX(-100%);
                background-color: transparent;
                left: calc(24px + 800px - 32px);
                //top: 8px
            }
        }
    }

    &--isOpen{
        visibility: visible;
        transform: translateX(0);
        transition-timing-function: ease-in-out, step-start;
    }
}