
.prime{
    display: flex;
    flex-direction: column;
    background-color: $color--background--dark;
    //flex-grow: 0;
    //flex-shrink: 0;

    @media (min-width: $screenWidth--oversize) {
        gap: 32px;
    }

    .topHeader{
        box-shadow: inset 0 -2px 0 -1px $color--border--lightPlus;
        z-index: 1;

        @media (min-width: $screenWidth--xl) and (max-width: $screenWidth--oversizeMax) {
            position: absolute;
            right: 0;
            background-color: transparent;
            box-shadow: 0 0 0 0 transparent;
            height: fit-content;
            margin: 42px 30px 0 0;
            padding: 0;
        }
        @media (min-width: $screenWidth--oversize) {
            //padding: 24px calc((100vw - 1000px)/2 + 32px);
            padding: 24px calc((100vw - 1500px)/2);
        }

        .topHeader__block{
            @media (min-width: $screenWidth--xl) {
                gap: 32px;
            }
        }
    }

    &__header{}

    &__content{
        width: 100vw;
        align-self: center;
        background-color: $color--background--dark;

        @media (min-width: $screenWidth--xl) {
            //width: calc(100vw - $leftSideBarWidth);
            width: calc(100vw - 320px);
        }

        @media (min-width: $screenWidth--oversize) {
            width: 1000px;
            border-radius: 8px;
            background-color: $color--background--light;
            box-shadow: 0 0 52px 16px $color--shadow, inset 0 0 0 1px $color--border--lightPlus;
        }
    }

    &__footer{
        box-shadow: inset 0 2px 0 -1px $color--border--lightPlus;
        padding: 16px 8px 20px 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;

        @media (min-width: $screenWidth--xs) {
            padding: 32px 24px 24px 24px;
        }
        @media (min-width: $screenWidth--md) {
            display: grid;
            grid-template-columns: repeat(3, 1fr)
        }
        @media (min-width: $screenWidth--xl) {
            padding: 32px 32px 20px 32px;
        }

        @media (min-width: $screenWidth--oversize) {
            background-color: $color--background--light;
            padding: 32px calc((100vw - 1000px)/2);
        }
    }

    &__footerText{
        color: $color--font--light;
        font-family: $fontFamily;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 114.286% */
        text-align: center;

        @media (min-width: $screenWidth--md) {
            &:first-child{
                text-align: left;
            }
            &:last-child{
                text-align: right;
            }
        }

        &+&{
            margin-top: 0;
        }
    }

    // header settings
    &__headerLeftBlock{
        @media (max-width: $screenWidth--smMax) {
            &:after{
                content: '';
                width: 2px;
                height: 32px;
                border-radius: 1px;
                background-color: $color--border--lightAlt;
                margin: 4px;
            }
        }
        @media (min-width: $screenWidth--xl) and (max-width: $screenWidth--oversizeMax) {
            display: none;
        }
    }
    &__headerBurgerBlock{
        @media (min-width: $screenWidth--sm) and (max-width: $screenWidth--oversizeMax){
            &:after{
                content: '';
                width: 2px;
                height: 32px;
                border-radius: 1px;
                background-color: $color--border--lightAlt;
                margin: 4px;
            }
        }
    }
    &__headerLogoBlock{}
    &__headerRightBlock{}
    &__callbackBlock{
        @media (max-width: $screenWidth--smMax) {
            display: none;
        }
        @media (min-width: $screenWidth--sm) and (max-width: $screenWidth--xlMax) {
            &:after{
                content: '';
                width: 2px;
                height: 32px;
                border-radius: 1px;
                background-color: $color--border--lightAlt;
                margin: 4px;
            }
        }
        @media (min-width: $screenWidth--xl) and (max-width: $screenWidth--oversizeMax) {
            display: none;
        }
        @media (min-width: $screenWidth--oversize) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            //.roundButton__text{
            //    display: none;
            //}
        }
    }
    &__settingsBlock{
        @media (max-width: $screenWidth--xlMax) {
            .roundButton__text{
                display: none;
            }
        }
        @media (min-width: $screenWidth--oversize) {
            //position: absolute;
            //left: 50%;
            //transform: translateX(-50%);
            .roundButton__text{
                display: none;
            }
        }
    }
}
